.root {
	-fx-background-image: url("../images/background.jpg"); 
	-fx-background-size: cover;
}

#Title {
   -fx-font-size: 100px;
   -fx-font-family: "Arial Black";
   -fx-fill: 	#B22222;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
   -fx-stroke: "Black";
   -fx-stroke-width: 5px;

}

.button {
	-fx-font-size: 32px;
    -fx-text-fill: black;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#1E90FF, #4169E1);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
     -fx-background-color: linear-gradient(#6495ED, #A5A5A5);
}